*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: color-black;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 5.5rem;
  margin-bottom: 2rem;
}
.navbar__item {
  text-decoration: none;
  color: #2E1952;
  font-size: 1.6rem;
  font-weight: 500;
}
.navbar__top {
  display: flex;
  align-items: center;
}
.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 4.8rem;
}
.navbar__toggle {
  display: none;
}
.navbar__toggle-close {
  display: none;
}
.navbar__checkbox {
  display: none;
}
.navbar__item:hover .navbar__menu {
  color: #8A5ADB;
  transition: color 0.2s linear;
}
.navbar__item:active .navbar__menu {
  color: #DED4FA;
  transition: color 0.1s linear;
}
.navbar__left {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__logo-img {
  display: block;
  height: 3.2rem;
}
.navbar__list {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  list-style: none;
}
.navbar__menu {
  text-decoration: none;
  color: #2E1952;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.navbar__action {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.navbar__action .btn-login {
  text-decoration: none;
  color: #7D53EB;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.35rem;
}
.navbar__action .btn-start {
  padding: 1.4rem 2.4rem;
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #7D53EB;
  color: #FFFFFF;
  cursor: pointer;
}
.navbar__action .btn-start:hover {
  background-color: #8A5ADB;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f1ecff;
  }
  .navbar__checkbox:checked ~ .navbar__content {
    display: flex;
  }
  .navbar {
    flex-direction: column;
    align-items: stretch;
    padding: 1.6rem 2rem;
  }
  .navbar__top {
    width: 100%;
    justify-content: space-between;
  }
  .navbar__content {
    display: none;
    width: 100%;
    min-height: calc(100vh - 7rem);
    margin: 2rem 0 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.75rem;
    flex-direction: column;
    align-items: stretch;
  }
  .navbar__menu {
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
  }
  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.4rem;
    margin: 3rem 0 0;
    padding: 0;
  }
  .navbar__action {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1.6rem;
    margin-top: auto;
    text-align: center;
  }
  .navbar__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #7D53EB;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .navbar__action {
    text-align: center;
    padding: 0 5rem;
  }
  .navbar__checkbox:checked ~ .navbar__content {
    display: flex;
  }
  .navbar__checkbox:checked ~ .navbar__top .navbar__toggle-menu {
    display: none;
  }
  .navbar__checkbox:checked ~ .navbar__top .navbar__toggle-close {
    display: inline;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  border-radius: 2.4rem;
  background: linear-gradient(to bottom, #e8dfff, rgba(232, 223, 255, 0));
  height: 100%;
  margin: 4rem 2.5rem;
  margin-bottom: 7rem;
}
.hero__content {
  padding: 7rem 0;
}
.hero__badge {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem;
  background-color: #FFFFFF;
  border-radius: 62rem;
  width: fit-content;
  color: #7D53EB;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.hero__badge img {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
}
.hero__title {
  margin: 2rem 0;
  color: #2E1952;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1;
}
.hero__title-mobile {
  display: none;
}
.hero__title-desktop {
  display: inline;
}
.hero__description {
  color: #1F2125;
  font-size: 2rem;
  line-height: 1.6;
  padding-bottom: 5rem;
}
.hero .btn-primary {
  padding: 1.4rem 2.4rem;
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #7D53EB;
  color: #FFFFFF;
}
.hero__card {
  width: 40rem;
  background-color: #fff;
  border-radius: 2.4rem;
  overflow: hidden;
  padding: 1.6rem;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}
.hero__card-img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}
.hero__card-header {
  display: block;
  width: 100%;
  height: auto;
}
.hero__card-content {
  padding: 2.4rem;
}
.hero__card-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: #7C7C7C;
}
.hero__card-title {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #1F2125;
}
.hero__card-link {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #7D53EB;
  text-decoration: none;
  transition: 0.3s;
}
.hero__card-link:hover {
  color: #6D48AC;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero__content {
    text-align: center;
    background: linear-gradient(to bottom, #e8dfff, rgba(232, 223, 255, 0));
    border-radius: 1.5rem;
  }
  .hero__title {
    font-size: 3.6rem;
  }
  .hero__title-desktop {
    display: none;
  }
  .hero__title-mobile {
    display: inline;
  }
  .hero__description {
    font-size: 1.8rem;
    padding: 0 1.2rem;
    margin: 4.5rem 0;
  }
  .hero__card {
    max-width: 90%;
  }
  .hero .btn-primary {
    padding: 1.4rem 10.4rem;
  }
}
.blog__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;
}
.blog__categories {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  list-style: none;
}
.blog__item {
  list-style: none;
}
.blog__link {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7D53EB;
  border: 1px solid #7D53EB;
  border-radius: 999px;
  transition: all 0.3s;
}
.blog__link-all {
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
  border: 1px solid #7D53EB;
  border-radius: 999px;
  transition: all 0.3s;
  background-color: #7D53EB;
}
.blog__link:hover {
  background: #7D53EB;
  color: white;
}
.blog__link--active {
  background: #7D53EB;
  color: white;
}
.blog__search input {
  width: 28rem;
  padding: 1rem 1.6rem;
  border: 1px solid #DBDBDB;
  border-radius: 0.75rem;
  font-size: 1.4rem;
  outline: none;
  transition: border-color 0.1s ease-in-out;
}
.blog__search input::placeholder {
  color: #BABABA;
}
.blog__search input:focus {
  border-color: #7D53EB;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.blog__content-card-img {
  border-radius: 1rem;
  width: 100%;
  display: block;
}
.blog__content-card-title {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.blog__content-card-description {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}
.blog__content-card-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.6rem 0;
  font-size: 1.4rem;
  color: #7C7C7C;
}
.blog .load_more-btn {
  text-align: center;
  margin: 10rem 0;
}
.blog .load_more-btn__style {
  background-color: transparent;
  color: #7D53EB;
  border: 1px solid #7D53EB;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
.blog .load_more-btn__style:hover {
  background-color: #8A5ADB;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .blog__header {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100vh;
    align-items: flex-start;
  }
  .blog__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 95%;
    margin-top: 1.5rem;
  }
  .blog__search {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .blog__search input {
    padding: 1.7rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }
  .blog__link {
    padding: 0.8rem 2.5rem;
  }
  .blog__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .blog__content-card-title {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
  .blog__content-card-description {
    font-size: 1.7rem;
  }
  .blog__card {
    width: 100%;
  }
  .blog .load_more-btn {
    margin: 5rem 0;
  }
  .blog .load_more-btn__style {
    font-size: 1.3rem;
    padding: 1.3rem;
  }
}
.brands {
  display: flex;
  justify-content: center;
  padding: 3.375rem 6.25rem;
}
.brands__container {
  width: 100%;
  margin: 0 auto;
}
.brands__text {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 1rem 0;
  color: #2E1952;
  text-align: center;
}
.brands__text span {
  color: #7D53EB;
}
.brands__company-logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  height: 100%;
  gap: 4rem;
  margin: 1rem 0;
}
.brands__track {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: max-content;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.cta {
  margin: 4rem 2.5rem;
  background-color: #7D53EB;
  border-radius: 1.5rem;
  overflow: hidden;
}
.cta__content {
  display: flex;
}
.cta__left {
  width: 50%;
  padding: 12rem 5rem;
  color: #fff;
  gap: 2rem;
}
.cta__title {
  max-width: 50rem;
  margin-bottom: 1.6rem;
  font-size: 4rem;
  line-height: 1.15;
}
.cta__paragraph {
  max-width: 52rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
.cta__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2.4rem;
}
.cta__buttons__start {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #7D53EB;
  height: 4rem;
  padding: 1.4rem 1.25rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 100%;
  border-radius: 0.5rem;
}
.cta__buttons__demo {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  height: 4rem;
  padding: 1rem;
  padding: 1.4rem 1.25rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  font-weight: 700;
  line-height: 100%;
}
.cta__bottom {
  position: relative;
  margin-top: 1rem;
  margin-left: 3rem;
  height: 4rem;
  color: #fff;
}
.cta__bottom img {
  position: absolute;
  width: 5rem;
  left: 1rem;
  top: 0;
}
.cta__bottom span {
  position: absolute;
  left: 4.4rem;
  top: 3.8rem;
  transform: rotate(3.5deg);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}
.cta__right {
  width: 50%;
  position: relative;
}
.cta__right__background {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 5rem;
  transform: rotate(-0.92deg);
  z-index: 1;
}
.cta__right__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.image__behind__1, .image__behind__2, .image__behind__3 {
  position: absolute;
}
.image__behind__1 {
  z-index: 5;
  bottom: 0;
  right: 0;
}
.image__behind__3 {
  z-index: 5;
  top: 5rem;
  right: 0;
}
.image__behind__2 {
  z-index: 5;
  top: 28rem;
  left: -6rem;
}

.footer {
  margin: 4rem 2.5rem;
  padding: 4rem 6rem;
  min-height: 40rem;
  background-color: #7D53EB;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5.5rem;
}
.footer__background {
  position: absolute;
  top: -3.4rem;
  right: -1rem;
  z-index: -1;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
}
.footer__title--social {
  margin-top: 1rem;
  gap: 0.8rem;
  margin-top: 1rem;
}
.footer__social {
  display: flex;
  gap: 1rem;
}
.footer__social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}
.footer__social img {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 150%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__logo {
  margin-top: 5rem;
}
.footer__legal {
  color: #FFFFFF;
  line-height: 150%;
  font-size: 1.1rem;
  font-weight: 400;
}
.footer__legal-policy {
  display: flex;
  gap: 3rem;
}
.footer__legal-wm {
  padding-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

/*# sourceMappingURL=style.css.map */
