*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: color-black;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6.25rem;
  margin: 0 auto;
  max-width: 124rem;
}
.navbar__top {
  display: flex;
  align-items: center;
  flex: 1;
}
.navbar__left {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__logo-img {
  display: block;
  width: 14.8rem;
  height: 4rem;
}
.navbar__list {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  list-style: none;
  font-size: 1.6rem;
}
.navbar__item:hover .navbar__menu {
  color: #8A5ADB;
  transition: color 0.2s linear;
}
.navbar__item:active .navbar__menu {
  color: #DED4FA;
  transition: color 0.1s linear;
}
.navbar__menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2E1952;
  font-size: 1.6rem;
  font-weight: 500;
}
.navbar__toggle {
  display: none;
}
.navbar__toggle-close {
  display: none;
}
.navbar__checkbox {
  display: none;
}
.navbar__action {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navbar__action .btn-login {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 4px 0 4px 0;
  text-decoration: none;
  color: #7D53EB;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  transition: border-bottom 0.25s ease;
}
.navbar__action .btn-login:hover {
  text-decoration: underline;
  border-bottom: 1.5px;
}
.navbar__action .btn-start {
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: #7D53EB;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.navbar__action .btn-start:hover {
  background-color: #4D307E;
}

@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f1ecff;
  }
  .navbar {
    flex-direction: column;
    align-items: stretch;
    padding: 1.6rem 2rem;
    height: 9.6rem;
    gap: 2.4rem;
  }
  .navbar__top {
    width: 100%;
    justify-content: space-between;
  }
  .navbar__left {
    gap: 0;
  }
  .navbar__list {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 2.4rem;
    margin: 3rem 0 0;
    padding: 2rem;
    position: fixed;
    inset: 7rem 0 0 0;
    min-height: calc(100vh - 7rem);
    background-color: #fff;
    border-radius: 0.75rem;
  }
  .navbar__menu {
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
  }
  .navbar__action {
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 1.6rem;
    padding: 2rem 5rem;
    position: fixed;
    inset: auto 0 0 0;
    text-align: center;
  }
  .navbar__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #7D53EB;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
  }
  .navbar__toggle-menu {
    display: flex;
  }
  .navbar__toggle-menu-hamburger {
    margin-right: 0.5rem;
  }
  .navbar__checkbox:checked ~ .navbar__top .navbar__list,
  .navbar__checkbox:checked ~ .navbar__action {
    display: flex;
  }
  .navbar__checkbox:checked ~ .navbar__top .navbar__toggle-menu {
    display: none;
  }
  .navbar__checkbox:checked ~ .navbar__top .navbar__toggle-close {
    display: inline;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 1.6rem 2rem;
  }
  .navbar__left {
    gap: 1.6rem;
  }
  .navbar__list {
    gap: 1.2rem;
  }
  .navbar__menu {
    font-size: 1.2rem;
    white-space: nowrap;
  }
  .navbar__action {
    flex-shrink: 0;
    gap: 0.8rem;
  }
  .navbar__action .btn-login {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  .navbar__action .btn-login__icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .navbar__action .btn-login__text {
    display: none;
  }
  .navbar__action .btn-start {
    flex-shrink: 0;
    padding: 0.9rem 1.2rem;
    font-size: 1rem;
    white-space: nowrap;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  border-radius: 2.4rem;
  background: linear-gradient(to bottom, #e8dfff, rgba(232, 223, 255, 0));
  height: 100%;
  margin: 0 2.5rem;
  margin-bottom: 7rem;
}
.hero__content {
  padding: 7rem 0;
  max-width: 57.7rem;
  gap: 2rem;
}
.hero__badge {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.6rem;
  background-color: #FFFFFF;
  border-radius: 99.9rem;
  width: fit-content;
  color: #7D53EB;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
}
.hero__badge img {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
}
.hero__title {
  margin: 2rem 0;
  color: #2E1952;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.1;
}
.hero__title-mobile {
  display: none;
}
.hero__title-desktop {
  display: inline;
}
.hero__description {
  color: #1F2125;
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 5rem;
}
.hero .btn-primary {
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #7D53EB;
  color: #FFFFFF;
}
.hero__card {
  width: 41rem;
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 8px;
  padding-bottom: 1.6rem;
  margin-top: 8rem;
  margin-right: 4rem;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
}
.hero__card-img {
  display: block;
  width: 100%;
  border-radius: 1rem;
  margin: 0 auto;
}
.hero__card-header {
  display: block;
  width: 100%;
  height: auto;
}
.hero__card-content {
  padding: 2.4rem;
}
.hero__card-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
  font-size: 14px;
  font-weight: 400;
  color: #7C7C7C;
}
.hero__card-title {
  margin-bottom: 2.4rem;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #1F2125;
}
.hero__card-link {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #7D53EB;
  text-decoration: none;
  transition: 0.3s ease;
}
.hero__card-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 0;
    margin-top: 2rem;
  }
  .hero__content {
    text-align: center;
    background: linear-gradient(to bottom, #e8dfff, rgba(232, 223, 255, 0));
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding-top: 2rem;
  }
  .hero__badge {
    padding: 0.8rem 1.2rem;
  }
  .hero__title {
    font-size: 4rem;
    margin: 2rem;
  }
  .hero__title-desktop {
    display: none;
  }
  .hero__title-mobile {
    display: inline;
  }
  .hero__description {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    margin: 4.5rem 0.5rem;
  }
  .hero__card {
    max-width: 90%;
    margin: 0 auto;
  }
  .hero .btn-primary {
    display: inline-block;
    width: 80%;
    max-width: 30rem;
    padding: 1.4rem 2.4rem;
    box-sizing: border-box;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    padding: 0 2.4rem;
    margin: 3rem 1.6rem;
    margin-bottom: 5rem;
  }
  .hero__content {
    padding: 4rem 0;
  }
  .hero__title {
    font-size: 4rem;
    margin: 1.6rem 0;
  }
  .hero__description {
    font-size: 1.7rem;
    padding-bottom: 3rem;
  }
  .hero__card {
    width: 28rem;
    flex-shrink: 0;
  }
  .hero__card-content {
    padding: 1.8rem;
  }
  .hero__card-title {
    font-size: 1.7rem;
    margin-bottom: 1.6rem;
  }
}
.blog__container {
  margin: 0 6rem;
  padding: 0 2rem;
}
.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.blog__categories {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  list-style: none;
}
.blog__item {
  list-style: none;
}
.blog__link {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: #7D53EB;
  border: 1px solid #7D53EB;
  border-radius: 99.9rem;
  transition: all 0.3s;
  text-align: center;
}
.blog__link-all {
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
  border: 1px solid #7D53EB;
  border-radius: 999px;
  transition: all 0.3s;
  background-color: #7D53EB;
}
.blog__link:hover {
  background: #DED4FA;
  color: #7D53EB;
}
.blog__link--active {
  background: #7D53EB;
  color: white;
}
.blog__search input {
  width: 32rem;
  height: 5.6rem;
  padding: 1rem 1.6rem;
  border: 1px solid #DBDBDB;
  border-radius: 0.75rem;
  font-size: 1.6rem;
  outline: none;
  transition: border-color 0.1s ease-in-out;
}
.blog__search input::placeholder {
  color: #BABABA;
}
.blog__search input:focus {
  border-color: #7D53EB;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.blog__content-card-img {
  border-radius: 1rem;
  width: 100%;
  display: block;
}
.blog__content-card-title {
  font-size: 2.4rem;
  padding: 1rem 0;
  margin-top: 1rem;
}
.blog__content-card-description {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}
.blog__content-card-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.6rem 0;
  font-size: 1.4rem;
  color: #7C7C7C;
}
.blog .load_more-btn {
  text-align: center;
  margin: 5rem 0;
}
.blog .load_more-btn__style {
  background-color: transparent;
  color: #7D53EB;
  border: 1px solid #7D53EB;
  padding: 1.6rem 2rem;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
.blog .load_more-btn__style:hover {
  background-color: #8A5ADB;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .blog__container {
    margin: 0 0;
  }
  .blog__header {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100vh;
    align-items: flex-start;
  }
  .blog__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 95%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .blog__search {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }
  .blog__search input {
    padding: 1.6rem 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  .blog__link {
    padding: 0.8rem 2rem;
  }
  .blog__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .blog__content-card-title {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
  .blog__content-card-description {
    font-size: 1.7rem;
  }
  .blog__card {
    width: 100%;
  }
  .blog .load_more-btn {
    margin: 5rem 0;
  }
  .blog .load_more-btn__style {
    font-size: 1.3rem;
    padding: 1.3rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .blog__header {
    flex-wrap: wrap;
    row-gap: 1.6rem;
  }
  .blog__categories {
    flex-wrap: wrap;
    gap: 0.8rem;
    max-width: 100%;
  }
  .blog__link {
    padding: 0.7rem 1.4rem;
    font-size: 1.3rem;
  }
  .blog__link-all {
    padding: 0.7rem 1.4rem;
    font-size: 1.3rem;
  }
  .blog__search {
    flex-shrink: 0;
  }
  .blog__search input {
    width: 100%;
    min-width: 18rem;
  }
}
.brands {
  display: flex;
  justify-content: center;
}
.brands__container {
  width: 100%;
  margin: 0 auto;
}
.brands__text {
  font-weight: 700;
  font-size: 2rem;
  color: #2E1952;
  text-align: center;
}
.brands__text span {
  color: #7D53EB;
}
.brands__company-logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  height: 100%;
  gap: 4rem;
  margin: 1rem 0;
}
.brands__track {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: max-content;
  margin-bottom: 7rem;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .brands {
    padding: 5.6rem 1rem;
    gap: 4rem;
  }
  .brands__container {
    width: 100%;
    margin: 1rem auto;
  }
  .brands__text {
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .brands__company-logos {
    margin-top: -5rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .brands {
    padding: 2.4rem 3rem;
  }
  .brands__text {
    margin: 0 6rem;
    font-size: 1.6rem;
  }
  .brands__company-logos {
    gap: 2.4rem;
  }
  .brands__track {
    gap: 3rem;
  }
}
.cta {
  position: relative;
  overflow: hidden;
  margin: 4rem 2.5rem;
  padding: 7.2rem;
  max-height: 51.3rem;
  background-color: #7D53EB;
  border-radius: 2.4rem;
}
.cta__background-desktop {
  position: absolute;
  top: 0;
  right: -1rem;
  width: auto;
  height: 100%;
  z-index: 1;
}
.cta__background-desktop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta__background-mobile {
  display: none;
}
.cta__content {
  position: relative;
  z-index: 2;
  display: flex;
}
.cta__words {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2rem;
}
.cta__title {
  font-size: 4.8rem;
  line-height: 1.2;
  max-width: 90%;
}
.cta__paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  max-width: 93%;
}
.cta__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2.4rem;
}
.cta__buttons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 4.8rem;
  padding: 2rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.cta__buttons__start {
  background-color: #FFFFFF;
  color: #7D53EB;
}
.cta__buttons__start:hover {
  background-color: #DED4FA;
}
.cta__buttons__demo {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.cta__buttons__demo:hover {
  background-color: #DED4FA;
}
.cta__bottom {
  position: relative;
  margin-top: 1rem;
  margin-left: 3rem;
  height: 4rem;
  color: #fff;
}
.cta__bottom img {
  position: absolute;
  width: 6.125rem;
  height: 5.35rem;
  left: 2rem;
  top: -2rem;
}
.cta__bottom span {
  position: absolute;
  left: 7.4rem;
  top: 2.3rem;
  transform: rotate(3.5deg);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.cta__right {
  width: 50%;
  position: relative;
}
.cta__right__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.cta__right__image .image__desktop__1, .cta__right__image .image__desktop__2, .cta__right__image .image__desktop__3 {
  position: absolute;
}
.cta__right__image .image__desktop__1 {
  right: -7.9rem;
  bottom: -7.2rem;
}
.cta__right__image .image__desktop__3 {
  top: -4rem;
  right: -8rem;
}
.cta__right__image .image__desktop__2 {
  bottom: -6.5rem;
  right: 28rem;
}
.cta__right__image .image__mobile__1, .cta__right__image .image__mobile__2, .cta__right__image .image__mobile__3 {
  display: none;
}

@media (max-width: 768px) {
  .cta {
    padding: 0;
    max-height: none;
  }
  .cta__background-desktop {
    display: none;
  }
  .cta__background-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 1;
    transform: rotate(-12.08 deg);
  }
  .cta__background-mobile img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  .cta__title {
    font-size: 3rem;
    max-width: 100%;
  }
  .cta__paragraph {
    line-height: 1.5;
    width: 100%;
    font-size: 1.45rem;
    letter-spacing: -0.2px;
  }
  .cta__content {
    flex-direction: column;
  }
  .cta__words {
    width: 100%;
    padding: 4rem 2.5rem;
  }
  .cta__right {
    width: 100%;
    height: 35rem;
  }
  .cta__right__image .image__desktop__1, .cta__right__image .image__desktop__2, .cta__right__image .image__desktop__3 {
    display: none;
  }
  .cta__right__image .image__mobile {
    display: block;
    position: absolute;
  }
  .cta__right__image .image__mobile__1, .cta__right__image .image__mobile__2, .cta__right__image .image__mobile__3 {
    display: block;
    position: absolute;
  }
  .cta__right__image .image__mobile__1 {
    bottom: 0;
    right: 0;
  }
  .cta__right__image .image__mobile__2 {
    bottom: 2rem;
    left: 0;
  }
  .cta__right__image .image__mobile__3 {
    top: 2rem;
    right: 0;
  }
  .cta__buttons {
    flex-direction: column;
    text-align: center;
  }
  .cta__bottom {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .cta__content {
    justify-content: center;
  }
  .cta__words {
    width: 100%;
    padding: 5rem 3rem;
    align-items: center;
    text-align: center;
  }
  .cta__title {
    font-size: 2.2rem;
  }
  .cta__paragraph {
    font-size: 1.25rem;
    max-width: 40rem;
  }
  .cta__buttons {
    justify-content: center;
  }
  .cta__bottom {
    position: relative;
    margin-top: 1rem;
    margin-left: -1.5rem;
    height: 4rem;
    width: max-content;
    color: #fff;
  }
  .cta__bottom img {
    position: absolute;
    width: 5rem;
    left: 1rem;
    top: 0;
  }
  .cta__bottom span {
    position: absolute;
    left: 4.4rem;
    top: 3.8rem;
    transform: rotate(3.5deg);
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    white-space: nowrap;
  }
  .cta__right {
    display: none;
  }
}
.footer {
  margin: 4rem 2.5rem;
  padding: 7.2rem 7.2rem 4rem 7.2rem;
  min-height: 40rem;
  background-color: #7D53EB;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5.5rem;
  gap: 2.4rem;
}
.footer__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__details summary {
  list-style: none;
  cursor: pointer;
  outline: none;
  margin: 0;
}
.footer__details summary::-webkit-details-marker {
  display: none;
}
.footer__details summary::marker {
  display: none;
}
.footer__details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__details summary::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  display: none;
}
.footer__details[open] summary::after {
  transform: rotate(-135deg);
}
.footer__details .footer__list {
  margin-top: 1.5rem;
}
.footer__title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 150%;
}
.footer__title--social {
  margin-top: 1rem;
  gap: 0.8rem;
  margin-top: 1rem;
}
.footer__social {
  display: flex;
  gap: 1rem;
}
.footer__social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
}
.footer__social img {
  width: 2.4rem;
  height: 2.4rem;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 150%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__logo {
  margin-top: 5rem;
}
.footer__legal {
  color: #FFFFFF;
  line-height: 150%;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer__legal-policy {
  display: flex;
  gap: 3rem;
}
.footer__legal-wm {
  padding-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.cta__words--footer {
  display: none;
}

.footer__details summary::after {
  display: none;
}

@media (min-width: 769px) {
  .footer__details::details-content {
    content-visibility: visible !important;
    block-size: auto !important;
    overflow: visible !important;
  }
  .footer__details summary {
    pointer-events: none;
    cursor: default;
  }
  .footer__details summary::after {
    display: none;
  }
  .footer__details .footer__details .footer__list {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .cta__words--footer {
    display: flex;
    padding: 0 0.5rem 2.5rem 0.5rem;
    width: 100%;
  }
  .cta__title h1 {
    font-size: 2.5rem;
    line-height: 1.15;
  }
  .footer__details summary::after {
    display: block;
  }
  .footer__details:not([open]) .footer__list {
    display: none;
  }
  .footer__details[open] summary::after {
    transform: rotate(-135deg);
  }
  .footer {
    padding: 2.5rem;
  }
  .footer__nav {
    margin: 0;
    flex-direction: column;
  }
  .footer__column {
    width: 100%;
    gap: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1.25rem 0;
  }
  .footer__details summary {
    padding-bottom: 0.5rem;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__details summary::after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .footer__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .footer__title--social {
    margin: 2rem 0;
  }
  .footer__social {
    gap: 1rem;
  }
  .footer__social-logo {
    width: 4rem;
    height: 4rem;
  }
  .footer__social img,
  .footer__social svg {
    width: 25px;
    height: 25px;
  }
  .footer__link {
    font-weight: 400;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .footer__logo img {
    width: 36.3rem;
    height: 3rem;
    margin-bottom: 2rem;
  }
  .footer__legal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
  }
  .footer__legal-wm {
    text-align: left;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 3rem 2.5rem;
    min-height: auto;
  }
  .footer__nav {
    margin-right: 0;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 1.5rem;
  }
  .footer__column {
    gap: 1rem;
    flex: 1 1 18%;
    min-width: 8rem;
  }
  .footer__title {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .footer__list {
    gap: 1rem;
  }
  .footer__link {
    font-size: 1.1rem;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .footer__logo {
    margin-top: 3rem;
  }
  .footer__logo img {
    width: 10rem;
  }
  .footer__legal {
    width: 100%;
  }
  .footer__legal-policy {
    gap: 2rem;
  }
  .footer__legal-wm {
    padding-top: 1rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
