@use "variables" as *;

.blog {
  &__container {
    margin: 0 6rem;
    padding: 0 2rem;
  }

  // ATAS
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 0;
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: 0.9rem;

    list-style: none;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: inline-block;

    padding: 0.8rem 1.6rem;

    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;

    color: $color-button-primary-text-2;
    border: 1px solid $color-violet-500;
    border-radius: 99.9rem;

    transition: all 0.3s;

    text-align: center;

    &-all {
      padding: 0.8rem 1.6rem;

      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 500;

      color: $color-button-primary-text-1;
      border: 1px solid $color-violet-500;
      border-radius: 999px;

      transition: all 0.3s;
      background-color: $color-button-primary-bg-1;
    }
  }

  &__link:hover {
    background: $color-button-primary-bg-3;
    color: $color-button-secondary-border-1;
  }

  &__link--active {
    background: $color-violet-500;
    color: white;
  }

  &__search input {
    width: 32rem;
    height: 5.6rem;
    padding: 1rem 1.6rem;

    border: 1px solid $color-neutrals-300;
    border-radius: 0.75rem;

    font-size: 1.6rem;
    outline: none;

    transition: border-color 0.1s ease-in-out;
  }

  &__search input::placeholder {
    color: $color-neutrals-400;
  }

  &__search input:focus {
    border-color: $color-violet-500;
  }

  // =========================================
  // CARD
  // =========================================

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 16px;

    &-card-img {
      border-radius: 1rem;
      width: 100%;
      display: block;
    }

    &-card-title {
      font-size: 2.4rem;
      padding: 1rem 0;
      margin-top: 1rem;
    }

    &-card-description {
      font-size: 1.6rem;
      padding: 0.5rem 0;
    }

    &-card-meta {
      display: flex;
      align-items: center;
      gap: 1rem;

      margin: 1.6rem 0;

      font-size: 1.4rem;
      color: $color-neutrals-500;
    }
  }

  .load_more-btn {
    text-align: center;

    margin: 5rem 0;

    &__style {
      background-color: $color-button-secondary-bg-1;
      color: $color-button-secondary-text-1;
      border: 1px solid $color-button-secondary-border-1;

      padding: 1.6rem 2rem;
      gap: 1rem;

      font-size: 1.6rem;
      font-weight: $button-font-weight;

      border-radius: 0.8rem;

      text-decoration: none;

      transition: color 0.3s ease;

      &:hover {
        background-color: $color-button-primary-hover-bg;
        color: $color-text-button-primary;
      }
    }
  }
}

@media (max-width: 768px) {
  .blog {
    &__container {
      margin: 0 0;
    }
    &__header {
      display: flex;
      flex-direction: column-reverse;
      max-width: 100vh;

      align-items: flex-start;
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      max-width: 95%;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &__search {
      width: 100%;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      margin-bottom: 0.5rem;

      input {
        padding: 1.6rem 2rem;
        width: 100%;
        box-sizing: border-box;
      }
    }

    &__link {
      padding: 0.8rem 2rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-card-title {
        margin-top: 1rem;
        font-size: 2rem;
      }

      &-card-description {
        font-size: 1.6rem;
      }
    }

    &__card {
      width: 100%;
    }

    .load_more-btn {
      margin: 5rem 0;

      &__style {
        font-size: 1.6rem;
        padding: 1.6rem 2rem;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .blog {
    &__header {
      flex-wrap: wrap;
      row-gap: 1.6rem;
    }

    &__container {
      margin: 0 1rem;
    }

    &__categories {
      flex-wrap: wrap;
      gap: 0.8rem;
      max-width: 100%;
    }

    &__link {
      padding: 0.7rem 1.4rem;
      font-size: 1.3rem;

      &-all {
        padding: 0.7rem 1.4rem;
        font-size: 1.3rem;
      }
    }

    &__search {
      flex-shrink: 0;

      input {
        width: 100%;
        min-width: 18rem;
      }
    }

    &__content {
      &-card-title {
        font-size: 2.1rem;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1181px) {
  .blog {

    &__categories {
      flex-wrap: wrap;
    }
  }
}
