@use "variables" as *;

.brands {
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__text {
    font-weight: 700;
    font-size: 2rem;
    color: $color-violet-900;
    text-align: center;
  }

  &__text span {
    color: $color-violet-500;
  }

  &__company-logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    height: 100%;
    gap: 4rem;
    margin: 1rem 0;
  }

  &__track {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: max-content;
    margin-bottom: 7rem;

    animation: marquee 20s linear infinite;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .brands {
    padding: 5.6rem 1rem;
    gap: 4rem;

    &__container {
      width: 100%;
      margin: 1rem auto;
    }

    &__text {
      align-items: center;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    &__company-logos {
      margin-top: -5rem;
      margin-bottom: 5rem; 
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .brands {
    padding: 2.4rem 3rem;

    &__text {
      margin: 0 6rem; 
      font-size: 1.6rem;
    }

    &__company-logos {
      gap: 2.4rem;
    }

    &__track {
      gap: 3rem;
    }
  }
}