@use "variables" as *;

.cta {
  position: relative;
  overflow: hidden;

  margin: 4rem 2.5rem;

  background-color: $color-violet-500;
  border-radius: 1.5rem;

  &__background {
    &-desktop {
      position: absolute;

      top: 0;
      right: -2rem;

      width: auto;
      height: 100%;

      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-mobile {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    display: flex;
  }

  // CONTENT LEFT
  &__left {
    width: 50%;
    padding: 12rem 5rem;

    display: flex;
    flex-direction: column;

    color: #fff;
    gap: 2rem;
  }

  &__title {
    max-width: 50rem;
    margin-bottom: 1.6rem;

    font-size: 4rem;
    line-height: 1.15;
  }

  &__paragraph {
    max-width: 52rem;

    font-size: 1.4rem;
    line-height: 1.6;
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    margin-top: 2.4rem;

    a {
      text-decoration: none;
      height: 4rem;

      padding: 1.4rem 1.25rem;
      font-size: 1.3rem;
      font-weight: $button-font-weight;
      line-height: $button-font-line-height;
      border-radius: $button-radius;
    }

    &__start {
      background-color: $color-button-primary-bg-2;
      color: $color-button-primary-text-2;
    }

    &__demo {
      background-color: $color-button-secondary-bg-1;
      border: 1px solid $color-button-secondary-border-2;
      color: $color-button-secondary-text-2;
    }
  }

  &__bottom {
    position: relative;

    margin-top: 1rem;
    margin-left: 3rem;

    height: 4rem;

    color: #fff;

    img {
      position: absolute;

      width: 5rem;

      left: 1rem;
      top: 0;
    }

    span {
      position: absolute;

      left: 4.4rem;
      top: 3.8rem;
      transform: rotate(3.5deg);

      font-size: 1rem;
      font-weight: 500;
      line-height: 150%;
    }
  }

  // CONTENT RIGHT
  &__right {
    width: 50%;
    position: relative;

    &__image {
      position: absolute;

      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      z-index: 2;

      .image__desktop {
        &__1,
        &__2,
        &__3 {
          position: absolute;
          // visibility: hidden;
        }

        &__1 {
          bottom: 0;
          right: 0;
        }

        &__3 {
          top: 5rem;
          right: 0;
        }

        &__2 {
          top: 28rem;
          left: -6rem;
        }
      }

      .image__mobile {
        &__1,
        &__2,
        &__3 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cta {
    &__background {
      &-desktop {
        display: none;
      }

      &-mobile {
        position: absolute;

        top: 0;
        right: 0;

        width: auto;
        height: 100%;

        z-index: 1;
        transform: rotate(-12.08 deg);

        img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
    }

    &__content {
      flex-direction: column;
    }

    &__left {
      width: 100%;
      padding: 4rem 3rem;
    }

    &__right {
      width: 100%;
      height: 35rem;

      &__image {
        .image__desktop {
          &__1,
          &__2,
          &__3 {
            display: none;
          }
        }

        .image__mobile {
          &__1,
          &__2,
          &__3 {
            display: block;
            position: absolute;
          }

          &__1 {
            bottom: 0;
            right: 0;
          }

          &__2 {
            bottom: 2rem;
            left: 0;
          }

          &__3 {
            top: 2rem;
            right: 0;
          }
        }
      }
    }

    &__buttons {
      flex-direction: column;
      text-align: center;
    }

    &__bottom {
      display: none;
    }
  }
}
