@use "variables" as *;

.cta {
  position: relative;
  overflow: hidden;

  margin: 4rem 2.5rem;
  padding: 7.2rem;
  max-height: 51.3rem;

  background-color: $color-violet-500;
  border-radius: 2.4rem;

  &__background {
    &-desktop {
      position: absolute;

      top: 0;
      right: -1rem;

      width: auto;
      height: 100%;

      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-mobile {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    display: flex;
  }

  // CONTENT LEFT
  &__words {
    width: 50%;

    display: flex;
    flex-direction: column;

    color: #fff;
    gap: 2rem;
  }

  &__title {
    font-size: 4.8rem;
    line-height: 1.2;
    max-width: 90%;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    max-width: 93%;
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    margin-top: 2.4rem;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 4.8rem;

      padding: 2rem 1.6rem;
      font-size: 1.6rem;
      font-weight: $button-font-weight;
      line-height: $button-font-line-height;
      border-radius: $button-radius;

      transition: background-color 0.3s ease;
    }

    &__start {
      background-color: $color-button-primary-bg-2;
      color: $color-button-primary-text-2;

      &:hover {
        background-color: $color-button-primary-bg-3;
      }
    }

    &__demo {
      background-color: $color-button-secondary-bg-1;
      border: 1px solid $color-button-secondary-border-2;
      color: $color-button-secondary-text-2;

      &:hover {
        background-color: $color-button-primary-bg-3;
      }
    }
  }

  &__bottom {
    position: relative;

    margin-top: 1rem;
    margin-left: 3rem;

    height: 4rem;

    color: #fff;

    img {
      position: absolute;

      width: 6.125rem;
      height: 5.35rem;

      left: 2rem;
      top: -2rem;
    }

    span {
      position: absolute;

      left: 7.4rem;
      top: 2.3rem;
      transform: rotate(3.5deg);

      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
    }
  }

  // CONTENT RIGHT
  &__right {
    width: 50%;
    position: relative;

    &__image {
      position: absolute;

      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      z-index: 2;

      .image__desktop {
        &__1,
        &__2,
        &__3 {
          position: absolute;
          // visibility: hidden;
        }

        &__1 {
          right: -7.9rem;
          bottom: -7.2rem;
        }

        &__3 {
          top: -4rem;
          right: -8rem;
        }

        &__2 {
          bottom: -6.5rem;
          right: 28rem;
        }
      }

      .image__mobile {
        &__1,
        &__2,
        &__3 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cta {
    padding: 0;
    max-height: none;
    margin-top: 0;

    &__background {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        position: absolute;

        top: 0;
        right: 0;

        width: auto;
        height: 100%;

        z-index: 1;
        transform: rotate(-12.08 deg);

        img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
      }
    }

    &__title {
      font-size: 3rem;
      line-height: 120%;
      max-width: 100%;
    }

    &__paragraph {
      line-height: 1.5;
      width: 100%;
      font-size: 1.45rem;
      letter-spacing: -0.2px;
      padding-right: .3rem;
    }

    &__content {
      flex-direction: column;
    }

    &__words {
      width: 100%;
      padding: 4rem 2rem;
    }

    &__right {
      width: 100%;
      height: 35rem;

      &__image {
        .image__desktop {
          &__1,
          &__2,
          &__3 {
            display: none;
          }
        }

        .image__mobile {
          display: block;
          position: absolute;
          &__1,
          &__2,
          &__3 {
            display: block;
            position: absolute;
          }

          &__1 {
            bottom: 0;
            right: 0;
          }

          &__2 {
            bottom: 1rem;
            left: 0;
          }

          &__3 {
            bottom: 11rem;
            right: 0;
          }
        }
      }
    }

    &__buttons {
      flex-direction: column;
      text-align: center;

      a {
        justify-content: center;
      }
    }

    &__bottom {
      display: none;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cta {
    &__content {
      justify-content: center;
    }

    &__words {
      width: 100%;
      padding: 5rem 3rem;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 2.2rem;
    }

    &__paragraph {
      font-size: 1.25rem;
      max-width: 40rem;
    }

    &__buttons {
      justify-content: center;
    }

    &__bottom {
      position: relative;

      margin-top: 1rem;
      margin-left: -1.5rem;

      height: 4rem;
      width: max-content;

      color: #fff;

      img {
        position: absolute;

        width: 5rem;

        left: 1rem;
        top: 0;
      }

      span {
        position: absolute;

        left: 4.4rem;
        top: 3.8rem;
        transform: rotate(3.5deg);

        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;
        white-space: nowrap;
      }
    }

    &__right {
      display: none;
    }
  }
}
