@use "variables" as *;

.footer {
  margin: 4rem 2.5rem;
  padding: 7.2rem 7.2rem 4rem 7.2rem;

  min-height: 40rem;

  background-color: $color-violet-500;
  border-radius: 1.5rem;

  overflow: hidden;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav {
    display: flex;
    justify-content: space-between;

    margin-right: 5.5rem;
    gap: 2.4rem;
  }

  &__background {
    position: absolute;

    top: 0;
    right: 0;
    z-index: -1;
  }

  &__divider {
    display: none;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__details {
    summary {
      list-style: none;
      cursor: pointer;
      outline: none;
      margin: 0;

      &::-webkit-details-marker {
        display: none;
      }

      &::marker {
        display: none;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        content: "";
        width: 0.6rem;
        height: 0.6rem;

        border-right: 2px solid $color-neutrals-50;
        border-bottom: 2px solid $color-neutrals-50;

        transform: rotate(45deg);
        transition: transform 0.3s ease;

        display: none;
      }
    }

    &[open] summary::after {
      transform: rotate(-135deg);
    }

    .footer__list {
      margin-top: 1.5rem;
    }
  }

  &__title {
    color: $color-neutrals-50;
    font-weight: bold;
    font-size: 1.6rem;

    line-height: 150%;

    &--social {
      margin-top: 1rem;
      gap: 0.8rem;
      margin-top: 1rem;
    }
  }

  &__social {
    display: flex;
    gap: 1rem;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 4rem;
      height: 4rem;

      background-color: $color-neutrals-50;
      border-radius: 0.5rem;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    text-decoration: none;

    color: $color-neutrals-50;
    font-weight: 400;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    line-height: 150%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    margin-top: 5rem;
  }

  &__legal {
    color: $color-neutrals-50;
    line-height: 150%;
    font-size: 1.6rem;
    font-weight: 400;

    &-policy {
      display: flex;
      gap: 3rem;
    }

    &-wm {
      padding-top: 2rem;
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.cta__words--footer {
  display: none;
}

.footer__details summary::after {
  display: none;
}

@media (min-width: 769px) {
  .footer__details {
    &::details-content {
      content-visibility: visible !important;
      block-size: auto !important;
      overflow: visible !important;
    }

    summary {
      pointer-events: none;
      cursor: default;

      &::after {
        display: none;
      }
    }

    .footer__details .footer__list {
      display: flex !important;
    }
  }
}

// FOR HP - MOBILE
@media (max-width: 768px) {
  .cta__words--footer {
    display: flex;
    padding: 0 0.5rem 2.5rem 0.5rem;
    width: 100%;
  }

  h1.cta__title-footer {
    font-size: 2.8rem;
    line-height: 120%;
    letter-spacing: -0.6px;
    font-weight: 700;
  }

  .footer__details summary::after {
    display: block;
  }

  .footer__details:not([open]) .footer__list {
    display: none;
  }

  .footer__details[open] summary::after {
    transform: rotate(-135deg);
  }

  .footer {
    padding: 2.5rem;

    &__background {
      top: 0;
      right: -3rem;
    }

    &__nav {
      margin: 0;
      flex-direction: column;
      margin-top: 2rem;
      gap: 0;
    }

    &__divider {
      display: inline;
      border: 1px solid #ffffff1a;
    }

    &__column {
      display: flex;
      justify-content: center;
      align-items: space-between;
      width: 100%;
      gap: 0;
      margin: 0 auto;
    }

    &__details {
      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.4rem 0;

        line-height: 1;
        letter-spacing: -0.2px;
        font-size: 2rem;
        font-weight: 600;

        list-style: none;
        cursor: pointer;

        &::-webkit-details-marker {
          display: none;
        }

        &::marker {
          display: none;
        }

        svg {
          display: block;
          flex-shrink: 0;
        }

        &::after {
          content: "";
          // width: 1.37rem;
          // height: .75rem;

          border-right: 2px solid $color-neutrals-50;
          border-bottom: 2px solid $color-neutrals-50;

          transform: rotate(45deg);
          transition: transform 0.3s ease;
        }
      }
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;

      &--social {
        margin: 2rem 0;
        font-size: 2rem;
      }
    }

    &__social {
      gap: 1rem;

      &-logo {
        width: 4rem;
        height: 4rem;
      }

      img,
      svg {
        width: 25px;
        height: 25px;
      }
    }

    &__link {
      font-weight: 400;
    }

    &__details &__list {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    // START FROM LOGO
    &__bottom {
      flex-direction: column;
      align-items: flex-start;
    }

    &__logo {
      margin-bottom: 2rem;
      img {
        width: 29.7rem;
        height: 8rem;
        margin-bottom: 2rem;
      }
    }

    &__legal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: auto;

      &-wm {
        text-align: left;
        width: auto;
        font-size: 1.4rem;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 3rem 2.5rem;
    min-height: auto;

    &__nav {
      margin-right: 0;
      flex-wrap: wrap;
      row-gap: 2.5rem;
      column-gap: 1.5rem;
    }

    &__column {
      gap: 1rem;
      flex: 1 1 18%;
      min-width: 8rem;
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 700;
    }

    &__list {
      gap: 1rem;
    }

    &__link {
      font-size: 1.1rem;
    }

    &__social {
      &-logo {
        width: 3rem;
        height: 3rem;
      }
      img {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &__bottom {    
      justify-content: space-between;
      align-items: flex-end;
    }

    &__logo {
      margin-top: 3rem;

      img {
        width: 20rem;
      }
    }

    &__legal {
      font-size: 1.4rem;
      &-policy {
        gap: 2rem;
      }

      &-wm {
        padding-top: 1rem;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}
